* { background: #D3D3D3;

}
h1 { font-family: 'Cinzel Decorative', cursive;
     background: red;
     font-size: 50px;
     color: white;
     border: black solid;
     padding-left: 40px;
     text-align: center;

}

.images:hover
{
        -webkit-transform: scale(1.7);
        transform: scale(1.7);
}

.images { padding-left: 50px;
}

.info { border: white solid;
	margin: 0 auto;
    flex-direction: column;
    display: flex;
    font-family: 'EB Garamond', serif;
}


.contact { display: inline-block;	
}